In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Diversity.txt', sep='\t')
df.head()

,EmployeeID,Gender,Gender Identity,Race/Ethnicity,Veteran,Disability,Education,Sexual Orientation
0,100001,female,female,White,0,0,Undergraduate,Heterosexual
1,100002,male,male,White,0,1,Undergraduate,Heterosexual
2,100003,female,female,Asian,0,0,Undergraduate,Heterosexual
3,100004,male,male,White,0,0,Undergraduate,Heterosexual
4,100005,male,male,Hispanic or Latino,0,0,Undergraduate,Missing

In [4]:
df.drop(['EmployeeID'], axis=1)

,Gender,Gender Identity,Race/Ethnicity,Veteran,Disability,Education,Sexual Orientation
0,female,female,White,0,0,Undergraduate,Heterosexual
1,male,male,White,0,1,Undergraduate,Heterosexual
2,female,female,Asian,0,0,Undergraduate,Heterosexual
3,male,male,White,0,0,Undergraduate,Heterosexual
4,male,male,Hispanic or Latino,0,0,Undergraduate,Missing
...,...,...,...,...,...,...,...
4963,male,male,Asian,0,0,Undergraduate,Heterosexual
4964,female,female,Hispanic or Latino,0,0,Undergraduate,Heterosexual
4965,male,male,White,0,0,Undergraduate,Missing
4966,male,Prefer not to say,White,0,0,Undergraduate,Gay
4967,female,female,White,0,0,Some College,Heterosexual